.Input {
  &__Wrapper {
    @apply relative;

    &__Header {
      @apply flex justify-between;
    }
  
    &__Error {
      @apply text-error mt-1 text-sm;
    }
  }

  &__Text {
    @apply relative w-full rounded-md border border-mediumGrey outline-none py-2 px-4;
    height: 40px;
    
    &__Wrapper {
      @apply relative w-full flex flex-wrap items-stretch;
    }

    &:hover, &:focus {
      @apply border-darkCharbon;
    }

    /* &:focus {
      @apply outline-vermillon outline-1 outline-offset-1;
    } */
    
    &--withIcon {
      @apply pl-10;
    }
    
    &--withIcons {
      @apply px-10;
    }

    &--emphasize {
      @apply text-vermillon;
    }
  }

  &__Select {

    background-position: calc(100% - 12px) center;
    -moz-appearance:none;
    -webkit-appearance: none; 
    appearance: none;

    &__Separator {
      @apply absolute h-6 bg-darkCharbon bottom-2 right-8 z-10;
      width: 1px;
    }
  }

  &__Icon {
    @apply absolute py-1 h-full leading-snug rounded text-base font-normal text-center flex items-center justify-center;

    &--left {
      @apply left-0 pr-5 pl-4;
    }

    &--right {
      @apply right-0 pr-4 pl-5;
    }
  }
}
