.Modal-Library {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 8px;
  background-color: white;
}

.Modal-Tags {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  max-width: 700px;
  height: max-content;
  max-height: 80%;
  border-radius: 8px;
  background-color: white;
}

.Modal__Content__Loader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  text-align: center;
}

.Modal__Content__Loader span {
  display: block;
}

.Library__NoContent {
  width: 100%;
  text-align: center;
}

.Library {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Library__Filters {
  display: flex;
  gap: 15px;
}

.Library__Filters .Input__Wrapper {
  width: 400px
}

.Library__Content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.Library__Image {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  height: max-content;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 16px;
}

.Library__Image img {
  border-radius: 4px;
  object-fit: contain;
}

.Library__Image__Title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 130px;
}

.Library__Image__Action__Title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 120px;
  color: white;
}

.Library__Image__Tags {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 4px; 
  flex-wrap: wrap;
  top: 7px;
  right: 7px;
}

.Library__Image__Tag {
  width: 50px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1px 3px;
}

.Library__Image__Actions {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 4px;
}

.Library__Image:hover .Library__Image__Actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Library__Image__Select__Action {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 15px;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.Library__Image__Select__Action:hover {
  background: #fff;
  color: #000;
}

.Library__Image__Delete__Action {
  background-color: #D21919;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
}

.Library__Image__Tag__Action {
  background-color: #008958;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
}

.BlockImage__TagSelector {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 6px;
  outline: none;
  border: 1px solid #9B9B9B;
  height: max-content;
  min-height: 40px;
  padding: 5px;
}

.BlockImage__TagSelector__Add {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  background-color: #444444;
}

.BlockImage__TagSelector__Add:hover {
  background-color: #333333;
}

.BlockImage__TagSelector__Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.BlockImage__TagSelector__Tag {
  max-width: 100px;
  width: max-content;
  max-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: white;
  align-items: center;
  padding: 4px;
  padding-left: 14px;
}

.BlockImage__TagSelector__Tag > span {
  font-weight: 600;
  font-size: 14px;
  margin-right: 7px;
}

.BlockImage__TagSelector__Tag__Remove {
  background-color: white;
  color: #111;
  border-radius: 90px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TagList {
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 6px;
  overflow: auto;
  width: 100%;
  position: absolute;
  z-index: 30;
  max-height: 200px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.TagList__Item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.Select__Wrapper {
  position: relative;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .Library__Image__Title {
    max-width: 100px;
  }

  .Library__Filters {
    flex-direction: column;
  }

  .Library__Filters .Input__Wrapper, .Library__Filters .Select__Wrapper {
    width: auto;
  }

  .Library__Item {
    padding: 0px;
  }
}
